 <article class="listing columns small-12 medium-12 large-6">
 	<ul class="listing-ul-list">
 		<li class="listing-ul-line">This listing is available for <%= (listing.available_to - Date.today ).to_i %> more day(s)</li>
 		<li id="address" class="listing-ul-line"> Address: <%= listing.address %></li>
 		<li class="listing-ul-line">available from: <%= listing.available_from.to_formatted_s(:long_ordinal) %></li>
 		<li class="listing-ul-line">available to: <%= listing.available_to.to_formatted_s(:long_ordinal) %></li>
		<!-- <li id="lat" class="listing-ul-line"><%= listing.latitude %></li> -->
		<!-- <li id="long" class="listing-ul-line"><%= listing.longitude %></li> -->
	</ul>
	</article> 