
 <article class="listing columns small-12 medium-12 large-6">
		<p id="address"><%= term.address %></p>
		<p><%= term.available_from %></p>
		<p><%= term.available_to %></p>
		<p id="lat"><%= term.latitude %></p>
		<p id="long"><%= term.longitude %></p>
	</article> 

  
