
 <article class="listing columns small-12 medium-12 large-4">
		<p><%= term.address %></p>
		<p><%= term.available_from %></p>
		<p><%= term.available_to %></p>
		<p><%= term.latitude %></p>
		<p><%= term.longitude %></p>
	</article> 

  
