<div class="columns small-12 medium-6 large-4 color listing-show">
<%= form_for @listing do |form| %>

	<%= hidden_field_tag 'listing[user_id]', current_user.id %>
	<!-- <%= form.label :user %> -->
	<%= form.label :available_from %>
	<%= form.datetime_local_field  :available_from %>

	<%= form.label :available_to %>
	<%= form.datetime_local_field  :available_to %>

	<%= form.label :address %>
	<%= form.text_field :address%>

	<%= form.submit %>
<% end %>
</div>