
<div class="columns small-12 medium-6 large-4 color listing-show">

<%= form_for @listing, :html => { :multipart => true } do |f| %>
  <%= hidden_field_tag 'listing[user_id]', current_user.id %>
	<!-- <%= f.label :user %> -->
	<%= f.label :available_from %>
	<%= f.datetime_local_field  :available_from %>

	<%= f.label :available_to %>
	<%= f.datetime_local_field  :available_to %>

	<%= f.label :address %>
	<%= f.text_field :address%>
 
  <div>
    Upload Image
    <%= f.fields_for :photos do |ph| %>
	    <%= ph.label :title, class: 'color' %>
	    <%= ph.text_field :title, required: true %>
      <%= ph.file_field :image %>
    <% end%>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>