<div class="columns small-12 medium-6 large-4 color user-show">
<%= form_for @user do |form| %>
	<!-- <%= form.label :user %> -->
	<%= form.label :name %>
	<%= form.text_field  :name %>
	<%= form.label :address %>
	<%= form.text_field  :address %>


	<%= form.submit %>
<% end %>
</div>