<div class="row">
		<h2>My Profile</h2>

  <div class="columns small-12 medium-6 large-4 color listing-show">

	  <%= link_to "edit user", edit_user_path(@user)%>

		<div class="user-wrapper">
			<% if @user.photos[0].image %>
				<%= image_tag(@user.photos[0].image.thumb('400x200#').url(name: @user.photos[0].image_uid), alt: @user.photos[0].title,  class:'th', id: :"#openModal", :"data-id" => @user.photos[0].image_uid, :"data-reveal-id" => "pictureModal") %>
	    <% end %>
			<div class="user-stats">
				<%= @user.name %></br>
				<%= @user.address %>
			</div>
		</div>
  </div>
</div>
<div class="row">
	<h2>My Listings</h2>
			<div class="my-listing">
			<% @user.listings.each do |listing| %>
				 <%= render partial: "listings/listings", locals: { listing: listing } %>
			<% end %>
		</div>
</div>