<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Snapshot</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Register</a></li>
     <!--  <li class="has-dropdown"> -->
      <li>  
        <a href="#">Sign-in</a>
        <!-- <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
         --></ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
 <!--    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->
  </section>
</nav>

<%= form_tag("/listings", method: "get") do %>
  <div class="row">
    <div class="small-3 columns">
      <%= label_tag("search_text", "") %>
      <%= text_field_tag("search_text", nil, placeholder: "Desired location or type of venue") %>
    </div>
    <div class="small-3 columns">
      <%= label_tag("start_date", "Start Date") %>
      <%= date_field_tag("start_date", nil, placeholder: "Enter your start date") %>
    </div>
    <div class="small-3 columns">
      <%= label_tag("end_date", "End Date") %>
      <%= date_field_tag("end_date", nil, placeholder: "Enter your end date") %>
    </div>
    <div class="small-2 columns">
      <%= label_tag("time", "Time") %>
      <%= select_tag(:time, options_for_select([['', 1], ['Morning', 2], ['Afternoon', 3], ['Evening', 4]]))  %>
    </div>
    <div class="small-1 columns">
      <%= submit_tag("Search") %>
    </div>
  </div>
<% end %>